body, html {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

.background {
  height: 100vh;
  position: fixed;
  background-color: #121A1E;
  z-index: -10;
  top: 0;
}

@-webkit-keyframes nav-scroll {
  from {
    background: none;
  }
  to {
    background-color: rgba(18, 26, 30, 0.3);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
}

@keyframes nav-scroll {
  from {
    background: none;
  }
  to {
    background-color: rgba(18, 26, 30, 0.3);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
}
.nav-bar {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 4rem;
  top: 0;
  right: 0;
  z-index: 100;
}
.nav-bar .nav-item {
  position: relative;
  display: block;
  float: right;
  margin: 15px 10px;
  padding: 0.5em 1.2em 0.5em 0.8em;
  border-radius: 0.5rem;
}
.nav-bar .nav-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-bar .nav-item.active::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 80%;
  right: 50%;
  bottom: calc(50% - 25px);
  transform: translate(50%, -50%);
  background-color: #3E5FE7;
  border-radius: 6px;
}
.nav-bar .brand {
  display: block;
  float: left;
  margin: 15px 10px;
  font-weight: 900;
  font-size: 1.5rem;
}
.nav-bar a {
  color: white;
}
.nav-bar i {
  margin-left: 8px;
}

.nav-bar-scroll {
  -webkit-animation-name: nav-scroll;
          animation-name: nav-scroll;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

footer {
  display: flex;
  height: 4rem;
  background-color: rgba(18, 26, 30, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  justify-content: center;
}

section {
  padding: 4em;
}
section h1 {
  font-size: 3em;
}

.section-seperator {
  background-color: white;
  height: 2px;
  width: 10%;
  margin: auto;
  border-radius: 2rem;
}

span.whitespace-sm {
  margin-left: 8px;
}
span.whitespace-xs {
  margin-left: 4px;
}

button {
  border-radius: 0.5rem;
  padding: 0.8em 1.2em;
  border-radius: 0.5em;
  color: white;
  background: none;
  border: none;
  font-family: Lato, Arial, Helvetica, sans-serif;
  min-width: 5em;
  position: relative;
}
button:hover:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
button:disabled {
  opacity: 0.5;
}
button.active::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 80%;
  right: 50%;
  bottom: calc(50% - 25px);
  transform: translate(50%, -50%);
  background-color: #3E5FE7;
  border-radius: 6px;
}

.primary {
  background: #3E5FE7;
}

.outline-primary {
  border: 2px solid #3E5FE7;
  background-color: rgba(62, 95, 231, 0.3);
}

.hidden {
  display: none;
}

#construction {
  background-image: repeating-linear-gradient(45deg, rgba(18, 18, 18, 0.4), rgba(18, 18, 18, 0.4) 10px, rgba(243, 189, 33, 0.4) 10px, rgba(243, 189, 33, 0.4) 17.5px);
  background-size: 50px 50px;
  text-align: center;
}

.background {
  background: radial-gradient(at right, hsl(268deg, 49%, 20%) 0%, hsl(300deg, 19%, 15%) 75%);
}