body, html {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

.background {
  height: 100vh;
  position: fixed;
  background-color: #121A1E;
  z-index: -10;
  top: 0;
}

@-webkit-keyframes nav-scroll {
  from {
    background: none;
  }
  to {
    background-color: rgba(18, 26, 30, 0.3);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
}

@keyframes nav-scroll {
  from {
    background: none;
  }
  to {
    background-color: rgba(18, 26, 30, 0.3);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
}
.nav-bar {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 4rem;
  top: 0;
  right: 0;
  z-index: 100;
}
.nav-bar .nav-item {
  position: relative;
  display: block;
  float: right;
  margin: 15px 10px;
  padding: 0.5em 1.2em 0.5em 0.8em;
  border-radius: 0.5rem;
}
.nav-bar .nav-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-bar .nav-item.active::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 80%;
  right: 50%;
  bottom: calc(50% - 25px);
  transform: translate(50%, -50%);
  background-color: #3E5FE7;
  border-radius: 6px;
}
.nav-bar .brand {
  display: block;
  float: left;
  margin: 15px 10px;
  font-weight: 900;
  font-size: 1.5rem;
}
.nav-bar a {
  color: white;
}
.nav-bar i {
  margin-left: 8px;
}

.nav-bar-scroll {
  -webkit-animation-name: nav-scroll;
          animation-name: nav-scroll;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

footer {
  display: flex;
  height: 4rem;
  background-color: rgba(18, 26, 30, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  justify-content: center;
}

section {
  padding: 4em;
}
section h1 {
  font-size: 3em;
}

.section-seperator {
  background-color: white;
  height: 2px;
  width: 10%;
  margin: auto;
  border-radius: 2rem;
}

span.whitespace-sm {
  margin-left: 8px;
}
span.whitespace-xs {
  margin-left: 4px;
}

button {
  border-radius: 0.5rem;
  padding: 0.8em 1.2em;
  border-radius: 0.5em;
  color: white;
  background: none;
  border: none;
  font-family: Lato, Arial, Helvetica, sans-serif;
  min-width: 5em;
  position: relative;
}
button:hover:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
button:disabled {
  opacity: 0.5;
}
button.active::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 80%;
  right: 50%;
  bottom: calc(50% - 25px);
  transform: translate(50%, -50%);
  background-color: #3E5FE7;
  border-radius: 6px;
}

.primary {
  background: #3E5FE7;
}

.outline-primary {
  border: 2px solid #3E5FE7;
  background-color: rgba(62, 95, 231, 0.3);
}

.hidden {
  display: none;
}

a {
  color: #99aaf2;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: calc(100% + 7px);
  left: 50%;
  margin-left: -60px;
  z-index: 1;
}
.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

#construction {
  background-image: repeating-linear-gradient(45deg, rgba(18, 18, 18, 0.4), rgba(18, 18, 18, 0.4) 10px, rgba(243, 189, 33, 0.4) 10px, rgba(243, 189, 33, 0.4) 17.5px);
  background-size: 50px 50px;
  text-align: center;
}

.background {
  background: radial-gradient(at top, #1A344B 0%, #1E1E2C 75%);
}

.main-section {
  height: calc(100vh - 4em);
}
.main-section .main-image {
  position: absolute;
  top: 8em;
  right: 6em;
  width: 42%;
}
.main-section .text-container {
  position: absolute;
  top: 35%;
  left: 5em;
  font-weight: 900;
}
.main-section .text-container .main-text {
  font-size: 4.5em;
}
.main-section .text-container .secondary-text {
  float: left;
  clear: left;
  font-size: 2.6em;
  background-color: #3E5FE7;
  padding: 0.3em 0.5em;
  border-radius: 0.85rem;
  box-shadow: 0px 0px 50px rgba(62, 95, 231, 0.5);
}
.main-section .text-container .ternary-text {
  float: left;
  clear: left;
  font-size: 2em;
  padding: 0.3em 0.5em;
  border-radius: 0.85rem;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 0.3em;
}
.main-section .down-icon {
  position: absolute;
  bottom: 70px;
  right: 50%;
  transform: translate(50%, 0);
}

@-webkit-keyframes blink {
  0% {
    visibility: visible;
  }
  47% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  97% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes blink {
  0% {
    visibility: visible;
  }
  47% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  97% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.cursor {
  display: inline-block;
  -webkit-animation: blink 1.2s linear infinite;
          animation: blink 1.2s linear infinite;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container img {
  width: 20em;
  border-radius: 50%;
}
.container p {
  margin-right: 4em;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid-container .grid-item {
  text-align: center;
  padding: 3em;
  border: 2px solid #3E5FE7;
  margin: 10px;
  border-radius: 0.35em;
  position: relative;
}
.grid-container .grid-item .icon {
  font-size: 10em;
}
.grid-container .grid-item .skill-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.grid-container .grid-item:hover {
  background-color: #3E5FE7;
}