@use 'variables' as v;

body, html {
	margin: 0;
	padding: 0;
	color: white;
	font-family: v.$main-font;
}

// Every page will have a background <div>
// Used to render the stars and radial gradient

.background {
	height: 100vh;
	position: fixed;
	background-color: #121A1E;
	z-index: -10;
	top:0;
}

@keyframes nav-scroll {
	from {background: none;}
	to {
		background-color: rgba(18, 26, 30, 0.3);
		backdrop-filter: blur(8px);
	}
}

.nav-bar {
	position: fixed;
	margin: 0;
	width: 100%;
	height: v.$nav-height;
	top:0;
	right: 0;
	z-index: 100;
	
	.nav-item {
		position: relative;
		display: block;
		float: right;
		margin: v.$nav-item-margin;
		padding: v.$nav-item-size;
		border-radius: 0.5rem;
	
		&:hover {
			background-color: rgba(#000, 0.2);
		}

		&.active::after {
			content: '';
			position: absolute;
			height: 3px;
			width: 80%;
			right: 50%;
			bottom: calc(50% - 25px);
			transform: translate(50%, -50%);
			background-color: v.$main-color;
			border-radius: 6px;
		}
	}

	.brand {
		display: block;
		float:left;
		margin: v.$nav-item-margin;	
		font-weight: 900;
		font-size: 1.5rem;
		
	}

	a {
		color: white;
	}

	i {
		margin-left: 8px;
	}

}

.nav-bar-scroll {
	animation-name: nav-scroll;
	animation-duration: 0.5s;
	animation-fill-mode: both;
}

footer {
	display: flex;
	height: v.$nav-height;
	background-color: rgba(18, 26, 30, 0.3);
	backdrop-filter: blur(8px);
	justify-content: center;
}

section {
	padding: 4em;

	h1 {
		font-size: 3em;
	}
}

.section-seperator {
	background-color: white;
	height: 2px;
	width: 10%;
	margin: auto;
	border-radius: 2rem;
}

// Whitespace spans
span {
	&.whitespace-sm {
		margin-left: 8px;
	}

	&.whitespace-xs {
		margin-left: 4px;
	}
} 

// Button types

// default
button {
	border-radius: 0.5rem;
	// padding: v.$nav-item-size;
	
	padding: 0.8em 1.2em;
	border-radius: 0.5em;
	color: white;
	background: none;
	border: none;
	font-family: v.$main-font;
	min-width: 5em;
	
	&:hover:not(:disabled) {
		background-color: rgba(#000, 0.2);
		cursor: pointer;
	}

	&:disabled {
		opacity: 0.5;
	}
}

.primary {
	background: v.$main-color ;
}

.outline-primary {
	border: 2px solid v.$main-color;
	background-color: rgba(v.$main-color, 0.3);
}


// remove later
#construction {
	background-image: repeating-linear-gradient(
		45deg,
		rgba(#121212, 0.4),
		rgba(#121212, 0.4) 10px,
		rgba(#f3bd21, 0.4) 10px,
		rgba(#f3bd21, 0.4) 17.5px
	  );

	background-size: 50px 50px;
	text-align: center;
}