@use 'variables' as v;
@use 'base';

.background {
	background: radial-gradient(at top,#1A344B 0%, #1E1E2C 75%);
}

.main-section {
	margin-top: v.$nav-height;
	height: calc(100vh - 4em);

	.main-image {
		position: absolute;
		top: 8em;
		right: 6em; 
		width: 42%;
	}

	.text-container {
		position: absolute;
		top: 35%;
		left: 5em;
		font-weight: 900;

		.main-text {
			font-size: 4.5em;
		}

		.secondary-text {
			font-size: 2.6em;
			background-color: v.$main-color;
			width: auto;
			padding: 0.1em 0.25em;
			border-radius: 0.5rem;
			box-shadow: 0px 0px 50px rgba(v.$main-color, 0.7);
		}
	}

	
}

section {
	padding: 4em;

	h1 {
		font-size: 3em;
	}
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 20em;
		border-radius: 50%;
	}

	p {
		margin-right:4em;
	}
}


.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	
	.grid-item {
		text-align: center;
		padding: 3em;
		border: 2px solid v.$main-color;
		margin: 10px;
		border-radius: 0.35em;
		position: relative;

		.icon {
			font-size: 10em;
		}

		
		.skill-text {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			white-space: nowrap;
		}
	}

	.grid-item:hover {
		background-color: v.$main-color;
	}
}