@use 'base';

.background {
	background: radial-gradient(at top,#1A344B 0%, #1E1E2C 75%);
}

.projects-container {
	display: grid;
	grid-template-columns: repeat(4, 300px);
	gap: 2em;
	padding: 2em;
	.projects-item {
		border-radius: 1em;
		// outline: 2px solid white;
		
		.project-img {
			border-radius: 1em;
			width:100%;
		}

		.project-name {
			font-weight: 900;
			font-size: 1.5em;
			text-align: center;
			margin: 15px 0;
		}
	
		.project-description {
			text-align: center;
			margin: 15px 0;
		}
		
		.project-buttons, .project-langs {
			margin: 15px 0;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 10px;
		}

		.project-langs .lang {
				padding: 0.8em;
				border-radius: 0.5em;
				background-color: rgba(#000, 0.2);
		}

		.project-tags {
			display: flex;
			justify-content: center;
			gap: 15px;
			flex-wrap: wrap;
			
			.tag {
				padding: 0.2em 0.8em;
				border-radius: 1em;
				background-color: rgba(#000, 0.2);
				border: 1px solid rgba(white, 0.2);
			}
		}

	}
}

.project-filter {
	* {
		display: inline-block;
	}
}