---
import "../styles/css/projects.css";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title={"Projects - Moorad's website"} active={1}>
    <section>
        <div class="title-lg">Projects</div>
        <div class="sub-title">Lorem</div>
        <div class="filter-container">
            <div class="filter-title">Technology</div>
            <div>Technology filter here</div>
        </div>
        <div class="filter-container">
            <div class="filter-title">Category</div>
            <div>Category filter here</div>
        </div>
        <div class="structured-container">
            <ProjectCard />
            <ProjectCard />
            <ProjectCard />
            <ProjectCard />
            <ProjectCard />
            <ProjectCard />
            <ProjectCard />
        </div>
    </section>
</Layout>
