---
---

<form action="https://formspree.io/f/xknadajk" method="POST">
	<div class="two-column">
		<div>
			<label for="name" class="required">Name</label>
			<input type="text" name="name" id="name" />
		</div>
		<div>
			<label for="phone">Phone</label>
			<input type="text" name="phone" id="phone" />
		</div>
	</div>
	<div>
		<label for="email" class="required">Email</label>
		<input type="email" name="email" id="email" />
	</div>
	<div>
		<label for="message" class="required">Message</label>
		<textarea name="message" id="message"></textarea>
	</div>
	<div class="submit-btn-container">
		<button class="primary submit-form" type="submit">Submit</button>
	</div>
</form>
