<div class="footer">
    <div class="footer-icons">
        <a
            href="https://github.com/Moorad"
            target="_blank"
            class="no-decoration"
        >
            <i class="fa-brands fa-github"></i>
        </a>
        <a
            href="https://linkedin.com/in/moorad-altamimi-490ba9198"
            target="_blank"
            class="no-decoration"
        >
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="mailto:mooradaltamimi@gmail.com" class="no-decoration">
            <i class="fa-solid fa-envelope"></i>
        </a>
    </div>
    Or <a href="/contact">contact me through my contact form</a>
</div>
