<div class="nav-container">
    <div class="nav-inner-container">
        <div class="nav-logo">Mo.</div>
        <div class="nav-items">
            <div>Home</div>
            <div>Projects</div>
            <div>CV</div>
            <div>Contact</div>
        </div>
        <div class="nav-right">Github</div>
    </div>
</div>
