---
interface Props {
	active: number;
}

const { active = 0 } = Astro.props;

const pages = [
	{ name: "Home", href: "/", active: false },
	{ name: "Projects", href: "/projects", active: false },
	{ name: "Contact", href: "/contact", active: false },
];

pages[active].active = true;
---

<div class="nav-container">
	<div class="nav-inner-container">
		<div class="nav-logo">Mo.</div>
		<div class="nav-items normal-menu">
			{
				pages.map((e) => (
					<a href={e.href} class="no-decoration">
						<div class={e.active ? "active" : ""}>{e.name}</div>
					</a>
				))
			}
		</div>
		<div class="nav-right normal-menu">
			<a href="https://github.com/Moorad" class="no-decoration">
				<button>
					<i class="fa-brands fa-github fa-lg"></i>
					<span class="whitespace-sm"></span>
					Github
				</button>
			</a>
		</div>
		<div class="nav-right hamburger-menu">
			<button class="hm-button">
				<i class="fa-solid fa-bars"></i>
			</button>
		</div>
	</div>
	<div class="hamburger-menu hamburger-menu-items hidden">
		<button class="hm-button-close">
			<i class="fa-solid fa-close"></i>
		</button>
		{
			pages.map((e) => (
				<a href={e.href} class="no-decoration">
					<div class={"hm-menu-item " + (e.active ? "active" : "")}>
						{e.name}
					</div>
				</a>
			))
		}
	</div>
</div>

<script>
	const navBar = document.getElementById("nav-bar");
	const hmMenu = document.querySelector(".hamburger-menu-items");
	const hmButton = document.querySelector(".hm-button");
	const hmCloseButton = document.querySelector(".hm-button-close");
	let hbMenuOpen = false;

	window.addEventListener("scroll", (e) => {
		if (navBar) {
			if (scrollY > 0) {
				navBar.classList.add("nav-scroll");
			} else {
				navBar.classList.remove("nav-scroll");
			}
		}
	});

	hmButton?.addEventListener("click", () => {
		hbMenuOpen = !hbMenuOpen;

		if (hbMenuOpen) {
			hmMenu?.classList.remove("hidden");
		} else {
			hmMenu?.classList.add("hidden");
		}
	});

	hmCloseButton?.addEventListener("click", () => {
		hbMenuOpen = false;
		hmMenu?.classList.add("hidden");
	});

	console.log(hmButton);
</script>
