<div class="nav-container">
    <div class="nav-inner-container">
        <div class="nav-logo">Mo.</div>
        <div class="nav-items">
            <div>Home</div>
            <div>Projects</div>
            <div>CV</div>
            <div>Contact</div>
        </div>
        <div class="nav-right">
            <a href="https://github.com/Moorad" class="no-underline">
                <button>
                    <i class="fa-brands fa-github fa-lg"></i>
                    <span class="whitespace-sm"></span>
                    Github
                </button>
            </a>
        </div>
    </div>
</div>
