---
// export interface Props {
//     title: string;
//     body: string;
//     href: string;
// }

// const { href, title, body } = Astro.props;
---

<div class="structured-item">
    <img class="project-thumbnail" src="portfolio.png" alt="" />
    <div class="inner-project-item">
        <div class="project-title">Project title</div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            porttitor risus non urna laoreet rhoncus. Orci varius natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </div>
        <div>Project button</div>
        <div>Project icons</div>
        <div>Project tags</div>
    </div>
</div>
