---
interface Props {
    title: string;
    description: string;
    icons: string[];
}

const { title, description, icons } = Astro.props;
---

<div class="skills-item">
    <div class="skill-title">{title}</div>
    <div class="skill-description">{description}</div>
    <div class="skill-icons">
        {icons.map((e) => <i class={e} />)}
    </div>
</div>
