---
import IconWithTooltip from "./IconWithTooltip.astro";

type Icon = {
    className: string;
    tooltip: string;
};

interface Props {
    title: string;
    description: string;
    icons: Icon[];
}

const { title, description, icons } = Astro.props;
---

<div class="structured-item">
    <div class="skill-title">{title}</div>
    <div class="skill-description">{description}</div>
    <div class="skill-icons">
        {
            icons.map((e) => (
                <IconWithTooltip
                    className={e.className}
                    tooltipText={e.tooltip}
                />
            ))
        }
    </div>
</div>
