---
import NavBar from "../components/NavBar.astro";
export interface Props {
    title: string;
    active: number;
}

const { title, active } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script
            src="https://kit.fontawesome.com/e960eea922.js"
            crossorigin="anonymous"
        ></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/icomoon.css" />
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <title>{title}</title>
    </head>
    <body>
        <div class="nav-outer-container" id="nav-bar">
            <NavBar active={active} />
        </div>
        <div class="main-container">
            <slot />
        </div>
    </body>
</html>
