@use "variables" as v;

body,
html {
    margin: 0;
    padding: 0;
    color: white;
    background-color: v.$base-background-color;
    font-family: v.$main-font;
}

.main-container {
    max-width: v.$main-container-width;
    margin-right: auto;
    margin-left: auto;
    // outline: 2px dashed red;
}

.nav-outer-container {
    z-index: 100;
    position: sticky;
    top: 0;
    padding-top: 2rem;
    transition: 0.1s;
}

.nav-container {
    height: 4.4rem;
    max-width: v.$main-container-width;
    margin-right: auto;
    margin-left: auto;

    .nav-inner-container {
        display: flex;
        padding-right: 2.4rem;
        padding-left: 2.4rem;
        align-items: center;
        height: 100%;
        gap: 2.6rem;

        .nav-logo {
            font-weight: 900;
            font-size: 34px;
            cursor: pointer;
        }

        .nav-items {
            display: flex;
            font-size: 17px;
            font-weight: 500;
            cursor: pointer;
            gap: 2.6rem;
            color: white;

            .active {
                position: relative;
            }

            .active::after {
                color: v.$main-color;
                content: "";
                position: absolute;
                height: 3px;
                width: 80%;
                right: 50%;
                bottom: calc(50% - 25px);
                transform: translate(50%, -50%);
                background-color: v.$main-color;
                border-radius: 6px;
            }
        }

        .nav-right {
            margin-left: auto;

            button {
                padding-right: 1.2rem;
                padding-left: 1.2rem;
            }
        }
    }
}

.nav-scroll {
    padding-top: 0;
    background-color: rgba(236, 252, 255, 0.08);
    backdrop-filter: blur(6px);
}

.title-lg {
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    padding: 0.4rem 0rem;
}

.sub-title {
    text-align: center;
    font-size: 16px;
    line-height: 160%;
    padding: 0.4rem 0rem;
    font-weight: 400;
}

button {
    display: block;
    border-radius: 0.4rem;
    color: white;
    padding: 0.6rem 1.5rem;
    background-color: #121212;
    font-size: 18px;
    font-family: v.$main-font;
    border: none;

    &:hover:not(:disabled) {
        background-color: lighten(#121212, 5%);
        cursor: pointer;
    }

    &:active {
        background-color: darken(#121212, 5%) !important;
    }

    &:disabled {
        background-color: rgba(v.$main-color, 0.3);
        color: rgba(white, 0.3);
    }
}

.primary {
    background-color: v.$main-color;

    &:hover:not(:disabled) {
        background-color: lighten(v.$main-color, 5%);
    }

    &:active {
        background-color: darken(v.$main-color, 5%) !important;
    }
}

a {
    color: lighten(v.$main-color, 20%);

    &.no-decoration {
        text-decoration: none;
        color: white;
    }
}

.section-gap {
    margin-top: 8rem;
}

footer {
    display: flex;
    height: v.$nav-height;
    background-color: rgba(18, 26, 30, 0.3);
    backdrop-filter: blur(8px);
    justify-content: center;

    button {
        height: 100%;
        margin: auto 0.5rem;
        // margin-left: 0.5rem;
        // margin-right: rem;
    }
}

section {
    padding: 4rem;
}

span {
    &.whitespace-sm {
        margin-left: 8px;
    }

    &.whitespace-xs {
        margin-left: 4px;
    }
}
