@use "variables" as v;

* {
    z-index: 1;
}

body,
html {
    margin: 0;
    padding: 0;
    color: white;
    background-color: v.$base-background-color;
    font-family: v.$main-font;
}

.main-container {
    max-width: v.$main-container-width;
    margin-right: auto;
    margin-left: auto;
    // outline: 2px dashed red;
}

.nav-outer-container {
    z-index: 100;
    position: sticky;
    top: 0;
    padding-top: 2rem;
    transition: 0.1s;
}

.nav-container {
    height: 4.4rem;
    max-width: v.$main-container-width;
    margin-right: auto;
    margin-left: auto;

    .nav-inner-container {
        display: flex;
        padding-right: 2.4rem;
        padding-left: 2.4rem;
        align-items: center;
        height: 100%;
        gap: 2.6rem;

        .nav-logo {
            font-weight: 900;
            font-size: 34px;
            cursor: pointer;
        }

        .nav-items {
            display: flex;
            font-size: 17px;
            font-weight: 500;
            cursor: pointer;
            gap: 2.6rem;
            color: white;

            .active {
                position: relative;
            }

            .active::after {
                color: v.$main-color;
                content: "";
                position: absolute;
                height: 3px;
                width: 80%;
                right: 50%;
                bottom: calc(50% - 25px);
                transform: translate(50%, -50%);
                background-color: v.$main-color;
                border-radius: 6px;
            }
        }

        .nav-right {
            margin-left: auto;

            button {
                padding-right: 1.2rem;
                padding-left: 1.2rem;
            }
        }
    }

    .hamburger-menu {
        display: none;
    }

    .hamburger-menu-items {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        text-align: center;
        background-color: #121212;
        flex-direction: column;
        padding-top: 3rem;
        padding-right: 1rem;
        padding-left: 1rem;

        .hm-button-close {
            margin-left: auto;
        }

        .hm-menu-item {
            padding: 1rem;
        }
    }

    @media (max-width: 768px) {
        .normal-menu {
            display: none !important;
        }

        .hamburger-menu {
            display: flex;
        }
    }
}

.footer {
    padding: 1rem;
    text-align: center;
    background-color: rgba(236, 252, 255, 0.08);
    backdrop-filter: blur(6px);

    .footer-icons {
        display: flex;
        justify-content: center;
        padding: 0.2rem;
        gap: 1.5rem;
        font-size: 1.5rem;

        i {
            padding: 0.5rem;
            border-radius: 3px;

            &:hover {
                background-color: rgba(18, 18, 18, 0.5);
            }
        }
    }
}

.nav-scroll {
    padding-top: 0;
    background-color: rgba(236, 252, 255, 0.08);
    backdrop-filter: blur(6px);
}

.title-lg {
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    padding: 0.4rem 0rem;
}

.sub-title {
    text-align: center;
    font-size: 16px;
    line-height: 160%;
    padding: 0.4rem 0rem;
    font-weight: 400;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: block;
    border-radius: 0.4rem;
    color: white;
    padding: 0.6rem 1.5rem;
    background-color: #121212;
    font-size: 18px;
    font-family: v.$main-font;
    border: none;

    &:hover:not(:disabled) {
        background-color: lighten(#121212, 5%);
        cursor: pointer;
    }

    &:active {
        background-color: darken(#121212, 5%) !important;
    }

    &:disabled {
        background-color: rgba(v.$main-color, 0.3);
        color: rgba(white, 0.3);
    }
}

.primary {
    background-color: v.$main-color;

    &:hover:not(:disabled) {
        background-color: lighten(v.$main-color, 5%);
    }

    &:active {
        background-color: darken(v.$main-color, 5%) !important;
    }
}

a {
    color: lighten(v.$main-color, 20%);

    &.no-decoration {
        text-decoration: none;
        color: white;
    }
}

.section-gap {
    margin-top: 8rem;
}

footer {
    display: flex;
    height: v.$nav-height;
    background-color: rgba(18, 26, 30, 0.3);
    backdrop-filter: blur(8px);
    justify-content: center;

    button {
        height: 100%;
        margin: auto 0.5rem;
        // margin-left: 0.5rem;
        // margin-right: rem;
    }
}

section {
    padding: 4rem;
}

span {
    &.whitespace-sm {
        margin-left: 8px;
    }

    &.whitespace-xs {
        margin-left: 4px;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    z-index: 10;

    .tooltip-text {
        visibility: hidden;
        font-weight: 400;
        font-family: v.$main-font;
        font-size: 0.8rem;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 7px 14px;
        border-radius: 6px;
        width: max-content;
        // +10px so there is a space between it and the content and not flush againsts it
        top: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        z-index: 10;

        &::after {
            content: " ";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent rgba(0, 0, 0, 0.9) transparent;
        }
    }

    &:hover .tooltip-text {
        visibility: visible;
    }
}

.bottom-background {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    img {
        width: 100%;
    }
}

.highlight {
    color: lighten(v.$main-color, 20);
}

@keyframes graident-fade {
    from {
        background-position-y: -60rem;
    }
    to {
        background-position-y: 0rem;
    }
}

.structured-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    .structured-item {
        display: flex;
        flex-direction: column;
        width: 30rem;
        overflow: hidden;
    }
}

.hidden {
    display: none !important ;
}
