@use "variables" as v;
@use "base";

@include v.animated_hero(0%, #1a344b 0%, #1e1e2c);

section {
    height: calc(100vh - 12em);
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    justify-content: center;

    form {
        label {
            display: block;
        }

        input,
        textarea {
            box-sizing: border-box;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.06);
            border: 0;
            color: white;
            padding: 0.75rem 0.8rem;
            border-radius: 5px;
            font-size: 16px;
            margin-bottom: 0.8rem;
        }

        textarea {
            resize: vertical;
            height: 150px;
        }

        .two-column {
            display: flex;
            gap: 2rem;

            div {
                width: 50%;
            }
        }

        @media (max-width: 450px) {
            .two-column {
                display: block;

                div {
                    width: 100%;
                }
            }
        }

        .submit-btn-container {
            display: flex;
            flex-direction: row-reverse;
        }

        .required:after {
            content: " *";
            color: rgb(255, 79, 79);
        }
    }
}
