@use "variables" as v;
@use "base";

body {
    background: radial-gradient(100% 100vh at 50% 0%, #1a344b 0%, #1e1e2c 100%);
}

.hero-container {
    position: relative;
    min-height: 51rem;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        margin-right: auto;
        margin-left: auto;
    }

    .hero-inner-container {
        width: 32rem;
    }

    .title-lg {
        padding: 0.5rem 0;
    }

    .sub-title {
        padding: 0.8rem 0 1.7rem 0;
    }

    .down-icon {
        position: absolute;
        bottom: 0;
    }
}

.timeline-item {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;

    &:has(.reverse) {
        flex-direction: row-reverse;
        text-align: right;

        div {
            direction: rtl;
        }
    }

    .timeline-text-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 60%;

        .time-period-pill {
            padding: 0.3rem 1rem;
            background-color: v.$main-color;
            border-radius: 9999px;
            width: fit-content;
        }

        .timeline-title {
            font-size: 32px;
            font-weight: 700;
        }

        .timeline-description {
            max-width: 25rem;
            direction: ltr;
        }

        .timeline-button {
            margin: 1rem 0;
        }
    }

    .timeline-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        img {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 950px) {
    .timeline-item {
        .timeline-text-container {
            width: 100%;
        }

        .timeline-img-container {
            display: none;
        }
    }
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    .skills-item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        width: 30rem;

        padding: 0 2rem;

        .skill-title {
            font-size: 32px;
            font-weight: 700;
        }

        .skill-icons {
            display: flex;
            justify-content: center;
            font-size: 40px;
            flex-wrap: wrap;
            gap: 2.5rem;

            [class^="icon-"],
            [class*=" icon-"] {
                font-size: 34px;
                margin: auto 0;
            }
        }
    }
}
