@use 'variables' as v;
@use 'base';

body {
	background: radial-gradient(100% 100vh at 50% 0%, #1A344B 0%, #1E1E2C 100%)
}

.hero-container {
	position: relative;
	min-height: 51rem;
	display: flex;
	justify-content: center;
	align-items: center;

	button {
		margin-right: auto;
		margin-left: auto;
	}

	.hero-inner-container {
		width: 32rem;
	}

	.title-lg {
		padding: 0.5rem 0;
	}

	.sub-title {
		padding: 0.8rem 0 1.7rem 0;
	}

	.down-icon {
		position: absolute;
		bottom: 0;
	}
}

.main-section {
	height: calc(100vh - 4em);

	.main-image {
		position: absolute;
		top: 8em;
		right: 6em; 
		width: 42%;
	}

	.text-container {
		position: absolute;
		top: 35%;
		left: 5em;
		font-weight: 900;

		.main-text {
			font-size: 4.5em;
		}

		// .secondary-text-container {
		// 	width: 100%;

			.secondary-text {
				float: left;
				clear: left;
				font-size: 2.6em;
				background-color: v.$main-color;
				padding: 0.3em 0.5em;
				border-radius: 0.85rem;
				box-shadow: 0px 0px 50px rgba(v.$main-color, 0.5);
			}
		// }

		.ternary-text {
			float: left;
			clear: left;
			font-size: 2em;
			padding: 0.3em 0.5em;
			border-radius: 0.85rem;
			background-color: rgba(0,0,0, 0.2);
			margin-top: 0.3em;
		}
	}

	.down-icon {
		position: absolute;
		bottom: 70px;
		right: 50%;
		transform: translate(50%, 0);
	}	
}

@keyframes blink {
	0%   { visibility: visible; }
	47%  { visibility: visible; }
	50%  { visibility: hidden; }
	97%  { visibility: hidden; }
	100% { visibility: visible; }
}

.cursor {
	display: inline-block;
	animation: blink 1.2s linear infinite;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 20em;
		border-radius: 50%;
	}

	p {
		margin-right:4em;
	}
}


.grid-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	.grid-item {
		text-align: center;
		padding: 3em;
		border: 2px solid v.$main-color;
		margin: 10px;
		border-radius: 0.35em;
		position: relative;

		.icon {
			font-size: 10em;
		}

		
		.skill-text {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			white-space: nowrap;
		}
	}

	.grid-item:hover {
		background-color: v.$main-color;
	}
}