@use "base";

body {
    position: relative;
    background: radial-gradient(
        100% 100vh at 100% 0%,
        #1a344b 0%,
        #1e1e2c 100%
    );
    background-position-y: -60rem;
    animation-name: graident-fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.filter-container {
    margin: 20px 0;

    .filter-title {
        font-size: 21px;
    }
}

.structured-container {
    .structured-item {
        background-color: rgba(#ecfcff, 0.1);
        border: 2px solid rgba(#ecfcff, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(8px);
        width: 33.5rem;
        .inner-project-item {
            padding: 0rem 2rem 1rem 2rem;
        }

        .project-thumbnail {
            height: 160px;
            object-fit: cover;
            border-radius: 12px;
        }

        .project-title {
            font-size: 27px;
            padding: 0.5rem 0;
            font-weight: 700;
        }
        .project-icons {
            padding: 1.2rem 0 1.5rem 0;
            display: flex;
            justify-content: center;
            font-size: 40px;
            flex-wrap: wrap;
            gap: 2rem;

            [class^="icon-"],
            [class*=" icon-"] {
                font-size: 34px;
                margin: auto 0;
            }
        }

        .project-buttons {
            display: flex;
            position: relative;
            gap: 0.5rem;
        }
    }
}
