@font-face {
    font-family: "icomoon";
    src: url("/fonts/icomoon.eot?1tn9b1");
    src: url("/fonts/icomoon.eot?1tn9b1#iefix") format("embedded-opentype"),
        url("/fonts/icomoon.ttf?1tn9b1") format("truetype"),
        url("/fonts/icomoon.woff?1tn9b1") format("woff"),
        url("/fonts/icomoon.svg?1tn9b1#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-astro:before {
    content: "\e90d";
}
.icon-next-js:before {
    content: "\e909";
}
.icon-kotlin:before {
    content: "\e90c";
}
.icon-tailwindcss:before {
    content: "\e90a";
}
.icon-redux:before {
    content: "\e90b";
}
.icon-graphql:before {
    content: "\e906";
}
.icon-mysql:before {
    content: "\e907";
}
.icon-haskell:before {
    content: "\e908";
}
.icon-firebase:before {
    content: "\e900";
}
.icon-googlecolab:before {
    content: "\e901";
}
.icon-heroku:before {
    content: "\e902";
}
.icon-mongodb:before {
    content: "\e903";
}
.icon-tensorflow:before {
    content: "\e904";
}
.icon-typescript:before {
    content: "\e905";
}
