* {
  z-index: 1;
}

body,
html {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #1e1e2c;
  font-family: Nunito, Arial, Helvetica, sans-serif;
}

.main-container {
  max-width: 81rem;
  margin-right: auto;
  margin-left: auto;
}

.nav-outer-container {
  z-index: 100;
  position: sticky;
  top: 0;
  padding-top: 2rem;
  transition: 0.1s;
}

.nav-container {
  height: 4.4rem;
  max-width: 81rem;
  margin-right: auto;
  margin-left: auto;
}
.nav-container .nav-inner-container {
  display: flex;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  align-items: center;
  height: 100%;
  gap: 2.6rem;
}
.nav-container .nav-inner-container .nav-logo {
  font-weight: 900;
  font-size: 34px;
  cursor: pointer;
}
.nav-container .nav-inner-container .nav-items {
  display: flex;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  gap: 2.6rem;
  color: white;
}
.nav-container .nav-inner-container .nav-items .active {
  position: relative;
}
.nav-container .nav-inner-container .nav-items .active::after {
  color: #3e5fe7;
  content: "";
  position: absolute;
  height: 3px;
  width: 80%;
  right: 50%;
  bottom: calc(50% - 25px);
  transform: translate(50%, -50%);
  background-color: #3e5fe7;
  border-radius: 6px;
}
.nav-container .nav-inner-container .nav-right {
  margin-left: auto;
}
.nav-container .nav-inner-container .nav-right button {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}
.nav-container .hamburger-menu {
  display: none;
}
.nav-container .hamburger-menu-items {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  max-width: 400px;
  width: 100%;
  text-align: center;
  background-color: #121212;
  flex-direction: column;
  padding-top: 3rem;
  box-sizing: border-box;
}
.nav-container .hamburger-menu-items .hm-button-close {
  margin-left: auto;
  margin-right: auto;
}
.nav-container .hamburger-menu-items .hm-menu-item {
  padding: 1rem;
}
@media (max-width: 768px) {
  .nav-container .normal-menu {
    display: none !important;
  }
  .nav-container .hamburger-menu {
    display: flex;
  }
}

.footer {
  padding: 1rem;
  text-align: center;
  background-color: rgba(236, 252, 255, 0.08);
  backdrop-filter: blur(6px);
}
.footer .footer-icons {
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  gap: 1.5rem;
  font-size: 1.5rem;
}
.footer .footer-icons i {
  padding: 0.5rem;
  border-radius: 3px;
}
.footer .footer-icons i:hover {
  background-color: rgba(18, 18, 18, 0.5);
}

.nav-scroll {
  padding-top: 0;
  background-color: rgba(236, 252, 255, 0.08);
  backdrop-filter: blur(6px);
}

.title-lg {
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  padding: 0.4rem 0rem;
}

.sub-title {
  text-align: center;
  font-size: 16px;
  line-height: 160%;
  padding: 0.4rem 0rem;
  font-weight: 400;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

button {
  display: block;
  border-radius: 0.4rem;
  color: white;
  padding: 0.6rem 1.5rem;
  background-color: #121212;
  font-size: 18px;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  border: none;
}
button:hover:not(:disabled) {
  background-color: #1f1f1f;
  cursor: pointer;
}
button:active {
  background-color: #050505 !important;
}
button:disabled {
  background-color: rgba(62, 95, 231, 0.3);
  color: rgba(255, 255, 255, 0.3);
}

.primary {
  background-color: #3e5fe7;
}
.primary:hover:not(:disabled) {
  background-color: #5572ea;
}
.primary:active {
  background-color: #274ce4 !important;
}

a {
  color: #99aaf2;
}
a.no-decoration {
  text-decoration: none;
  color: white;
}

.section-gap {
  margin-top: 8rem;
}

footer {
  display: flex;
  height: 4rem;
  background-color: rgba(18, 26, 30, 0.3);
  backdrop-filter: blur(8px);
  justify-content: center;
}
footer button {
  height: 100%;
  margin: auto 0.5rem;
}

section {
  padding: 4rem;
}

@media (max-width: 450px) {
  section {
    padding: 4rem 1rem;
  }
}
span.whitespace-sm {
  margin-left: 8px;
}
span.whitespace-xs {
  margin-left: 4px;
}

.tooltip {
  position: relative;
  display: inline-block;
  z-index: 10;
}
.tooltip .tooltip-text {
  visibility: hidden;
  font-weight: 400;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 7px 14px;
  border-radius: 6px;
  width: max-content;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 10;
}
.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.9) transparent;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

.bottom-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
.bottom-background img {
  width: 100%;
}

.highlight {
  color: #99aaf2;
}

@keyframes graident-fade {
  from {
    background-position-y: -60rem;
  }
  to {
    background-position-y: 0rem;
  }
}
.structured-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}
.structured-container .structured-item {
  display: flex;
  flex-direction: column;
  width: 30rem;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

body {
  position: relative;
  background: radial-gradient(100% 100vh at 50% 0%, #1a344b 0% 0%, #1e1e2c 100%);
  background-repeat: no-repeat;
  background-position-y: -60rem;
  animation-name: graident-fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.hero-container {
  position: relative;
  min-height: 51rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container button {
  margin-right: auto;
  margin-left: auto;
}
.hero-container .hero-inner-container {
  width: 32rem;
}
.hero-container .title-lg {
  padding: 0.5rem 0;
}
.hero-container .sub-title {
  padding: 0.8rem 0 1.7rem 0;
}
.hero-container .down-icon {
  position: absolute;
  bottom: 0;
}

.timeline-item {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.timeline-item:has(.reverse) {
  flex-direction: row-reverse;
  text-align: right;
}
.timeline-item:has(.reverse) div {
  direction: rtl;
}
.timeline-item .timeline-text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
}
.timeline-item .timeline-text-container .time-period-pill {
  padding: 0.3rem 1rem;
  background-color: #3e5fe7;
  border-radius: 9999px;
  width: fit-content;
}
.timeline-item .timeline-text-container .timeline-title {
  font-size: 32px;
  font-weight: 700;
}
.timeline-item .timeline-text-container .timeline-description {
  max-width: 25rem;
  direction: ltr;
}
.timeline-item .timeline-text-container .timeline-button {
  margin: 1rem 0;
}
.timeline-item .timeline-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.timeline-item .timeline-img-container img {
  max-width: 80%;
  max-height: 125px;
}

@media only screen and (max-width: 950px) {
  .timeline-item .timeline-text-container {
    width: 100%;
  }
  .timeline-item .timeline-img-container {
    display: none;
  }
}
.structured-container .structured-item {
  padding: 2.6rem 2rem;
  text-align: center;
  gap: 1rem;
}
.structured-container .structured-item .skill-title {
  font-size: 32px;
  font-weight: 700;
}
.structured-container .structured-item .skill-icons {
  display: flex;
  justify-content: center;
  font-size: 40px;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.structured-container .structured-item .skill-icons [class^=icon-],
.structured-container .structured-item .skill-icons [class*=" icon-"] {
  font-size: 34px;
  margin: auto 0;
}
